<div class="container">
  <h1>Welcome to a blog about sitting in boxes!</h1>
  <br>
   <h2>The world is chaotic and cruel. Sitting in a box makes you feel safe and secure.  </h2>
  <p>Hello, world!</p>

  <table>
    <p><img src="http://laughingsquid.com/wp-content/uploads/maru-20090425-125127.jpg" /></p>
    <h3> Never leave your box </h3>

    <a href="/new_post"> ADD A BLOG </a>
    <br><br>
    <a href="/posts"> SHOW ALL BLOGS </a>
    <br><br>

  </table>
</div>
